li {
  /*list-style-type: square;*/
  float: left;
}

ul.group {
  margin: 0;
  width: 300px;
  padding: 0;
}

.square {
  outline: 1px solid gray;
  width: 100px;
  height: 100px;
  float: left;
  transition: outline 0.5s, background-color 0.5s;
  list-style: none;
  box-sizing: border-box;
  border-style: solid;
  border-width: thick;
  border-color: blue;
  background-color: #d3d3d3;
}

.mark {
  font-size: 60pt;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-self: center;
}

.clicked {
  background-color: white;
  outline: 1px solid gray;
  width: 100px;
  height: 100px;
  float: left;
  transition: outline 0.5s, background-color 0.5s;
  list-style: none;
  box-sizing: border-box;
  border-style: solid;
  border-width: thick;
  border-color: blue;
}

.square:hover {
  background-color: yellow;
}
